/**
* @author Tony Erazo
* Main.scss file is the foundation that imports all the scss files into one and transpiles the code into the main index.css file
*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif; }

body {
  background: linear-gradient(90deg, #C7C5F4, #776BCC); }

a {
  color: blue; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5C5696; }
  .screen-content {
    z-index: 1;
    position: relative;
    height: 100%; }
  .screen-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0); }
    .screen-background__shape {
      transform: rotate(45deg);
      position: absolute; }
    .screen-background__shape1 {
      height: 520px;
      width: 520px;
      background: #FFF;
      top: -50px;
      right: 120px;
      border-radius: 0 72px 0 0; }
    .screen-background__shape2 {
      height: 220px;
      width: 220px;
      background: #6C63AC;
      top: -172px;
      right: 0;
      border-radius: 32px; }
    .screen-background__shape3 {
      height: 540px;
      width: 190px;
      background: linear-gradient(270deg, #5D54A4, #6A679E);
      top: -24px;
      right: 0;
      border-radius: 32px; }
    .screen-background__shape4 {
      height: 400px;
      width: 200px;
      background: #7E7BB9;
      top: 420px;
      right: 50px;
      border-radius: 60px; }

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px; }
  .login-field {
    padding: 20px 0px;
    position: relative; }
  .login-icon {
    position: absolute;
    top: 30px;
    color: #7875B5; }
  .login-input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s; }
  .login-input:active, .login-input:focus, .login-input:hover {
    outline: none;
    border-bottom-color: #6A679E; }
  .login-submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s; }
  .login-submit:active, .login-submit:focus, .login-submit:hover {
    border-color: #6A679E;
    outline: none; }

.button-icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875B5; }

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff; }
  .social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5; }
  .social-login__icon:hover {
    transform: scale(1.5); }

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar {
  background: #131313;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999; }
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px; }
  .navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center; }
  .navbar-selection {
    height: 10px; }

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 90%; }

.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%; }

.navbar_links:hover {
  background: #4837ff;
  transition: all 0.3 ease;
  height: 10%; }

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0; }
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    top: -1000px;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    height: 50vh;
    background: #131313;
    z-index: -1; }
  .navbar_menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6 rem; }
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff; }
  .navbar_selection {
    width: 100%; }
  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table; } }

.container {
  width: 100%;
  height: 100vh; }

.dropdown {
  width: 400px;
  margin: 0 auto;
  position: relative; }

.dropdown-button {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.dropdown-content.active {
  position: absolute;
  top: 10%;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 95%; }

.dropdown-item {
  padding: 10px; }

.dropdown-item:hover {
  background: #fcfcfc; }
